# Core scientific stack
numpy
pandas
scipy
pathlib

# Plotting and visualization
matplotlib
# Machine learning and deep learning
scikit-learn
tensorflow==2.13.0  # Or your specific version
keras
sklearn

# For data handling
PyYAML
